main {
    .contacto {
        background-image: url("../assets/contacto.jpg");
        background-size: cover;
        color: white;
        padding: 124px 0 36px;

    }

    .container {
        .contacto-mapita {
            width: 100%;
            max-width: 450px;
        }
    }
}