@use 'variables' as *;

body {
    font-family: 'Roboto', sans-serif;
    a{
        text-decoration: none;
        color: $accent-01;
    }
}

header {
    &.video-bg-container {
        overflow: hidden;
        height: 70vh;
        position: relative;
        &::before {
            background-image: linear-gradient(to top, transparent 75%, $color-blue-dark);
            @include before-after(0)
        }
        &::after {
            background: $color-blue-dark;
            filter: opacity(0.4);
            @include before-after(-1)
        }

        .video-bg {
            @extend %center-item;
            z-index: -2;
        }
    }

    .navbar-nav {
        .nav-item {
            margin-left: 14px;
            .active, &>a {
                color: $color-light;
                &:hover{
                    color: $color-blue-light;
                }
            }

            .dropdown-menu {
                background-color: $accent-02;
                border: none;
                .dropdown-item {
                    color: $color-light;
                    &:hover {
                        background-color: $accent-02;
                        color: $color-blue-dark;
                    }
                }
            }
        }
    }

    .titulo-banner {
        div{
            h1 {
                margin-top: 80px;
            }
        }
    }
}

main {
    .fa-location-dot {
        font-size: 16.337px;
    }

    .nav-eventos {
        a {
            color: $color-light;
            &:hover {
                color: $color-blue-light;
            }
        }
    }
    .container{
        .btn-index {
            color: $color-light;
        }
    
        .btn {
            background-color: $accent-02;
            border: none;
            border-radius: 32px;
            &:hover {
                background-color: $color-blue-light;
                color: $color-light;
            }
        }
    }

    .bg-eventos {
        background: url("../assets/banner-secundary.jpg") center/cover no-repeat; 
    }

    .subtitulo-color {
        color: $color-title;
    }

    .color-secundario {
        color: $accent-01;
    }

    .container {
        .card {
            border-radius: 16px;
            overflow: hidden;
            img{
                transition: transform .5s ease;
            }
            &:hover img {
                transform: scale(1.1);
            }
            h3 {
                font-size: 20px;
                color: $accent-01;
            }
            h4 {
                font-size: 14px;
                font-weight: 400;
                color: $color-texto-light;
            }
        }

        blockquote {
            p {
                font-size: 14px; 
            }
        }
    }
    
    .form-select{
        border: 1px solid $accent-02;
        border-radius: 20px;
        color: $color-texto-light;
    }
}

footer {
    background-color: $color-blue-footer;
    .form-select {
        border-radius: 20px;
    }

    h2 {
        font-size: 14px;
    }

    li {
        font-size: 12px;
    }
    
    p {
        background-color: $color-blue-dark;
        font-size: 12px;
    }
}
