@use 'variables' as *;

@media only screen and (max-width: 1199px) {
    #novedades {
        .card {
            .row {
                .card-img-container {
                    img {
                        max-width: none;
                        max-height: 255px;
                    }
                }
                .small {
                    max-height: 90px;
                }
            }
            .card-body {
                .card-title {
                    font-size: 16px;
                }
                p {
                    font-size: 10px;
                }
                .card-text {
                    font-size: 12px;
                }
                a {
                    font-size: 14px;
                }
            }
        }
    }
}

 @media only screen and (max-width: 991px) {
    .navbar-nav {
        background-color: $accent-02;
        border-radius: 15px;
    }

    #novedades {
        .novedades-lateral {
            display: none;
        }
    }
 }

 @media only screen and (max-width: 467px) {
    .nav-eventos {
        font-size: 12px;
        padding-left: 12px;
        margin-top: 12px;
        li {
            a {
                padding: 0;
                margin-right: 12px;
            }
        }
    }
}
